

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    links:
      - postgres
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/mydatabase
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5434:5432"
    volumes:
        - pgdata:/var/lib/postgresql
volumes:
  pgdata: